/* General Styles */
* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    animation: fadeIn 1s ease-in;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
 
}

/* Header Styles */
header {
    background-color: #333;
    color: white;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

header img {
    height: 25px;
    width: 25px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ff6347; /* Tomato color */
}

nav form {
    display: flex;
    align-items: center;
}

nav input[type="text"] {
    padding: 5px;
    border: none;
    border-radius: 3px;
}

nav button {
    background-color: #ff6347;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 5px;
}

nav button:hover {
    background-color: #e5533d;
}

.slideshow-container {
    width: 100%; /* Container takes full width */
    height: 800px; /* Container height (adjust as needed) */
    margin: 0 auto; 
    overflow: hidden; /* Prevents image from overflowing */
}

.mySlides {
    animation: fade;
    animation-duration: 1.5s;
    display: none; /* Hide slides by default */
    height: 100%; /* Make the slide take full height */
}

.mySlides img {
    width: 100%; /* Image takes full width of the slide */
    height: 100%; /* Image takes full height of the slide */
    object-fit: cover; /* Cover the entire container, potentially cropping the image */
}

@keyframes fade {
    from {opacity: 0.4;}
    to {opacity: 1;}          
}

/* Products Section */
.product-name {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

.product-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px; /* Space between products */
    margin: 20px;
}

.product-container img {
    height: 200px;
    width: 150px;
}

.product {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    border: 2px solid #333;
}

.product:hover {
    transform: scale(1.05);
}

.product button {
    padding: 8px 15px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Featured Products Section */
#featured {
    background-color: #f9f9f9;
}

.featured-container {
    align-items: center;
    padding: 20px;
    width: 1000px;
    height: auto;
    margin: 0 auto;
}

.featured-container button {
    padding: 8px 15px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.featured-product {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border: 2px solid #333;
    transition: transform 0.2s;
}

.featured-product:hover {
    transform: scale(1.05);
    transition: transform 0.2s;
}

.featured-product img {
    height: 450px;
    width: 400px;
}

/* Modal styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-title {
    padding: 10px;
    color: black;
    font-size: 24px;
    text-align: center;
    font-weight: 600;
}

.modal-body {
    padding: 10px;
    font-size: 16px;
    text-align: center;
}

form {
    display: block;
    margin-top: 0;
    unicode-bidi: isolate;
}

.modal-body input[type="text"], .modal-body input[type="password"] {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 20px;
}

.modal-body button {
    padding: 8px 15px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.modal-content {
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    width: 300px; /* Could be more or less, depending on screen size */
    background-color: #fff; /* White background for the content */
    border: 1px solid #333; /* Dark gray border */
    color: #333;
    border-radius: 5px; /* Rounded corners */
}

/* Footer Styles */
footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.footer-section {
    flex: 1;
    padding: 10px;
}

.footer-section h4 {
    margin-bottom: 10px;
}

.footer-section a {
    color: white;
    text-decoration: none;
    display: block;
    margin: 5px 0;
}

.footer-section a:hover {
    color: #ff6347; /* Tomato color */
}

.footer-bottom {
    border-top: 1px solid #444;
    padding-top: 10px;
}